* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DejaVu Sans Mono", monospace;
  padding: 0px 6px;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin: 15px;
  padding: 10px;
}

div {
  width: 33.3333333%;
  float: left;
}

section {
  height: auto;
  background-color: #bdbdbd;
  margin: 10px;
  border: 1px solid black;
  position: relative;
}

p.title {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 15px 3px 15px;
  border-left: 1px black solid;
  border-bottom: 1px black solid;
  font-size: 1.25em;
}

#p1 {
  background-color: #c2185b;
}

#p2 {
  background-color: #ffc107;
}

#p3 {
  background-color: #009688;
}

p.content {
  margin-top: 25px;
  padding: 10px;
  height: auto;
}

@media screen and (max-width: 991px) {
  div {
    width: 50%;
  }
  div:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  div {
    width: 100%;
  }
}
