/** HEADER **/
.navbar{
  padding: 0;
}
.container{
  padding: 0;
}
.navbar-brand{
  margin-left: var(--bs-gutter-x,.75rem);
}
.navbar-toggler{
  margin-right: var(--bs-gutter-x,.75rem);
}
.navbar-collapse{
  background-color: #37474F;
}
.nav-link{
  padding: 10px;
  margin-left: var(--bs-gutter-x,.75rem);
}
.nav-item:hover{
  background-color: #546E7A;
}
/** HEADER END **/

/** MAIN CONTENT **/
.container > h2 , .row h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
#long-content{
  height: auto;
  background-color: #E0E0E0;
}
/** END MAIN CONTENT **/
